/* FONT */
@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoSans SemiBold";
  src: url("/fonts/Nunito_Sans/NunitoSans-SemiBold.ttf") format("truetype");
}

/* VARIABLES */
:root {
  --color-background: #e5e5e5;
  --color-white: #fdfdfd;
  --color-body-text: #767676;
  --color-body-text2: #1a1a1a;
  --color-outline: #a3a3a3;
  --color-heading: #1a1a1a;
  --color-primary: #016450;
  --color-secondary: #facf55;
}

/* RESETS */
*,
*::before,
*::after,
*::placeholder {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  font: normal normal;
  font-family: "NunitoSans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-body-text);
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--color-body-text);
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  text-align: center;
}

.mline {
  border: 2px dashed crimson;
}
